<!doctype html>
<title>{% block title %}{% endblock %} - YourCatsAndDogs</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>YourCatsAndDogs</h1>
  <ul>
    {% if g.user %}
      <li><span>Welcome, {{ g.user['username'] }}</span></li>
      <li><a href="{{ url_for('home.index') }}">Home</a></li>
      <li><a href="{{ url_for('search.sitters') }}">Find a sitter</a></li>
      <li><a href="{{ url_for('search.pets') }}">Find pets to sit</a></li>
      <li><a href="{{ url_for('home.sittings') }}">My sittings</a></li>
      <li><a href="{{ url_for('messages.inbox') }}">Messages</a></li>
      <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a></li>
      <li><a href="{{ url_for('auth.login') }}">Login</a></li>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>
