{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Messages{% endblock %}</h1>
{% endblock %}

{% block content %}
  <ul class="list-group">
    {% for thread in threads %}
      <li class="list-group-item">
        <a href="{{ url_for('messages.thread', user_id=thread['other_id']) }}">
          Conversion with <strong>{{ thread['other_name'] }}</strong>
        </a>
      </li>
    {% else %}
      <li class="list-group-item">No conversations yet.</li>
    {% endfor %}
  </ul>
{% endblock %}
